.header {
  padding: 30px 88px;
  background-color: #aa0601;
  display: flex;
  justify-content: space-between;
  .menuBtn {
    display: none;
    color: #ffffff;
  }
  .menu {
    display: flex;
    width: 512px;
    justify-content: space-between;

    li {
      padding: 10px 0;
      a {
        color: white;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: none;
      }
    }
  }
}
footer {
  background-color: #aa0601;
  padding: 36px 0 0 0;
  color: #ffffff;
  justify-content: center;
  .container {
    padding: 0 25px;
  }
  .footerHeader {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
  .menu {
    li {
      margin-right: 3rem;
    }
  }
  .socialIcon {
    li {
      margin-right: 2rem;
    }
    li:nth-child(3) {
      margin-right: unset;
    }
  }
  .footerBody {
    font-size: 2.25rem;
    border-bottom: #ffffff 1px solid;
    li:nth-child(1) {
      align-items: center;
      margin-bottom: 1rem;
      img {
        margin-right: 23px;
      }
    }
    li:nth-child(2) {
      align-items: center;
      margin-bottom: 1.5rem;
      img {
        margin-right: 12px;
      }
    }
  }
  .footerFooter {
    padding: 24px 0 28px 0;
    justify-content: space-between;
    .left {
      align-items: center;
      img {
        margin-right: 38px;
      }
    }
    .right {
      align-items: center;
      li:nth-child(1) {
        margin-right: 62px;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    padding: 30px 48px;
  }
  .menu {
    max-width: 440px;
  }

  footer {
    .menu {
      li {
        margin-right: 2.5rem;
      }
    }
    .socialIcon {
      li {
        margin-right: 1.5rem;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    .footerBody {
      font-size: 1.25rem;
      li:nth-child(1) {
        margin-bottom: 9px;
        img {
          margin-right: 12px;
          width: 23px;
          height: 23px;
        }
      }
      li:nth-child(2) {
        margin-bottom: 1.5rem;
        img {
          margin-right: 8px;
          width: 32px;
          height: 32px;
        }
      }
    }
    .footerFooter {
      .left {
        img {
          display: none;
        }
      }
      .right {
        font-size: 14px;
        li:nth-child(1) {
          margin-right: 24px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    position: relative;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    flex-direction: column;
    h1 img {
      width: 48px;
      height: 30px;
    }
    .menuBtn {
      display: block;
      position: absolute;
      left: 13px;
      width: 24px;
    }

    .menu {
      max-height: 0px;
      left: 0;
      top: 100%;
      width: 100%;
      position: absolute;
      text-align: center;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: all 0.8s;
      z-index: 120;
      .active {
        max-height: 252px;
      }
      li {
        display: block;
        background: #aa0601;
        color: #ffffff;
        border-top: 1px solid #ffffff;
        padding: 16px 0;
        z-index: 120;
      }
      li:hover {
        background: #8f0400;
      }
    }
  }
  footer {
    padding: 24px 0 0 0;
    .menu {
      display: none;
    }
    .socialIcon {
      li {
        margin-right: 1.5rem;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    .change {
      display: flex;
      flex-direction: row-reverse;
      border-bottom: 1px solid #ffffff;
    }
    .footerHeader {
      align-items: flex-start;
    }

    .footerBody {
      font-size: 1rem;
      border-bottom: unset;
      li:nth-child(1) {
        margin-bottom: 0.5rem;
        img {
          margin-right: 0.5rem;
          width: 13px;
          height: 13px;
        }
      }
      li:nth-child(2) {
        margin-bottom: 1rem;
        img {
          margin-right: 5px;
          width: 20px;
          height: 20px;
        }
      }
    }
    .footerFooter {
      padding: 16px 0 20px 0;
      flex-direction: column;
      font-size: 14px;
      .left {
        margin-bottom: 0.5rem;
        img {
          display: unset;
          position: absolute;
          right: 0;
          margin-top: 50px;
          width: 46px;
          height: 27px;
        }
      }
      .right {
        position: unset;
        li:nth-child(1) {
          margin-right: 24px;
          margin-bottom: 0.5rem;
        }
        ul {
          flex-direction: column;
        }
      }
    }
  }
}
